{{ define "main" }}
<!-- lists the complete catalogue of radio shows -->
<article class="pa3 pa4-ns nested-copy-line-height">
  <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
  <!-- render content from: content/shows/_index.md  -->
  {{- .Content -}}
  </section>
  <section class="flex-ns flex-wrap justify-around mt5">
    <!-- render the summary of each show -->
    {{ range .Paginator.Pages }}
      <div class="relative w-100 w-30-l mb4 bg-white">
          {{ .Render "tile" }}
      </div>
    {{ end }}
  </section>
    <!-- render pagination controls -->
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
