{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
    <header class="cover bg-top flex items-center justify-center" style="background-image: url('{{ $featured_image }}'); height: 180px; opacity: 80%; background-size: cover;">
        <div class="bg-black-60 w-100 h-100 flex items-center justify-center">
            <h1 class="ma0 white athelas f4 fw1 tc">
                <a href="{{.RelPermalink}}" class="color-inherit dim link">
                    {{ .Title }}
                </a>
            </h1>
        </div>
    </header>
    <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
        {{ .Summary }}
    </div>
    <a href="{{.RelPermalink}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">{{ $.Param "read_more_copy" }}</a>
</article>
