{{- $displayTitle := .Title | emojify -}}
{{- $dateFormat := site.Params.dateFormat | default "2 January 2006" -}}
{{- $titleParts := split .Title ": " -}}
{{- if gt (len $titleParts) 1 -}}
  {{- $titleBase := index $titleParts 0 -}}
  {{- if and (strings.HasPrefix $titleBase "Show #") (not .Date.IsZero) -}}
    {{- $displayTitle = printf "Broadcast %s" (.Date | time.Format $dateFormat) -}}
  {{- else -}}
    {{- $displayTitle = strings.TrimPrefix (printf "%s: " $titleBase) .Title | emojify -}}
  {{- end -}}
{{- end -}}
{{- return $displayTitle -}}
