{{ $releaseInfo := .Get 0 }}
{{ with $releaseInfo }}
    {{ $parts := split . "--" }}
    {{ $releaseName := index $parts 0 }}
    {{ $artist := index $parts 1 }}
    {{ $artistFirstChar := index $artist 0 | printf "%c" | lower }}
    {{ $artistSlug := $artist | urlize }}
    {{ $releaseSlug := $releaseName | urlize }}
    {{ if ge (len $parts) 3 }}
        {{ with index $parts 2 | strings.TrimSpace }}{{ $releaseSlug = . | urlize }}{{ end }}
    {{ end }}
    {{ $releasePage := $.Site.GetPage (printf "releases/%s/%s/%s" $artistFirstChar $artistSlug $releaseSlug) }}
    {{ if and $releasePage $releasePage.Params.label }}{{ $releasePage.Params.label }}{{ end }}
{{ end }}
