{{ $trackInfo := .Get 0 }}
{{ with $trackInfo }}
    {{ $parts := split . "--" }}
    {{ $track := index $parts 0 }}
    {{ $artist := index $parts 1 }}
    {{ $trackUri := "" }}
    {{ if ge (len $parts) 3 }}
        {{ with index $parts 2 | strings.TrimSpace }}{{ $trackUri = . }}{{ end }}
    {{ end }}
    {{ $featuredGuestAnchor := printf "%sshows/featuring-%s/#featured-band-%s" $.Site.BaseURL ($artist | urlize) ($artist | urlize) | safeURL }}
    {{ $featuredGuestImageUri := printf "%s-large.jpeg" $artist | urlize -}}
    <div style="display: flex; align-items: center;"><img src="{{ $featuredGuestImageUri }}" alt="" style="width: 20%; height: auto; margin-right: 10px;"><div>{{ if $trackUri }}<a href="{{ $trackUri }}">{{ $track }}</a>{{ else }}{{ $track }}{{ end }}<br><a href="{{ $featuredGuestAnchor }}">{{ $artist }}</a></div></div>
{{ end }}