{{ $trackInfo := .Get 0 }}
{{ with $trackInfo }}
    {{ $parts := split . "--" }}
    {{ $track := index $parts 0 }}
    {{ $artist := index $parts 1 }}
    {{ $trackUri := "" }}
    {{ if ge (len $parts) 3 }}
        {{ with index $parts 2 | strings.TrimSpace }}{{ $trackUri = . }}{{ end }}
    {{ end }}
    {{ $artistSpotlightAnchorId := partial "show/artist-spotlight-anchor.html" . }}
    {{ $featuredGuestAnchor := printf "%sshows/featuring-%s/#%s" $.Site.BaseURL ($artist | urlize) $artistSpotlightAnchorId | safeURL }}
    {{ $featuredGuestImageUri := printf "%s-large.jpeg" $artist | urlize }}
    <div style="display: flex; align-items: center;">
        <img src="{{ $featuredGuestImageUri }}" alt="" loading="lazy" style="width: 20%; height: auto; margin-right: 10px;">
        <div>
            <span class="track-title__name">{{ if $trackUri }}<a href="{{ $trackUri }}">{{ $track }}</a>{{ else }}{{ $track }}{{ end }}</span>
            <br>
            <span class="track-title__artist"><a href="{{ $featuredGuestAnchor }}">{{ $artist }}</a></span>
        </div>
    </div>
{{ end }}
