{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<article class="mw8 center ph3 pv6 tc">
  <img src="{{ "images/404.png" | relURL }}" alt="page not found" class="mw-100 mb4 not-found-img"/>
  <h1 class="f1 fw2 mid-gray mb3">Page not found</h1>
  <p class="f4 fw1 mid-gray lh-copy mb4">
    Oops! The page you&rsquo;re looking for doesn&rsquo;t seem to exist.
  </p>
  <a href="{{ .Site.Home.RelPermalink }}" class="f5 fw4 link dim br3 ph4 pv3 dib white bg-black">
    &larr; Go Home
  </a>
</article>
{{ end }}
